//database url for prisma

DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19oSlQ2UXhLSzl0NDgtaS1NZ1lGYWsiLCJhcGlfa2V5IjoiMDFLQTM1RlNGWDI5M0gzM1hGMjdYOTZaMkUiLCJ0ZW5hbnRfaWQiOiI5ZjhmODRmZDIyNWI1NjVjYTFhZjEyZjUyODc5YmJmMmQ3MjdhNmFhMGVlZmYzM2E5NGE0NzIwOWVjMjViODY0IiwiaW50ZXJuYWxfc2VjcmV0IjoiZDdjNDAwOGQtM2FhNC00NTdiLTlkMWItNGZmMGIwZWI5NWNiIn0.CIj6fKOLu4vfanY4ksBvzpW6cBxrqklGeC89W9Bxb6Y"

//secret for jwt
JWT_SECRET="LPNV59lFiSOuLiW9JS5CrG0U20sZU44p30r4nhu3Ei5LyIYgsoYvYDAB46iZQTEH
rO9uniI26G8SH1OeCpJtaQ=="